# Dependencies
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
.next/
**/ .next/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Build outputs
dist/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Project specific
skaffold.exe
infra/k8s/
client/api/build-client.js